
%li{class: active_if_home}
  %a{href: "/index"} Inicio
%li{class: active_if_product}
  %a{href: "/product"} Producto
%li{class: active_if_blog}
  %a{href: "http://www.ubiquame.blogspot.com/"} Blog
%li{class: active_if_contact}
  %a{href: "/contact"} Contáctanos
