%li{class: active_if_home}
  %a{href: "/index"} Inicio
%li{class: active_if_aboutus}
  %a{href: "/about"} Sobre Nosotros
/
  %li{class: active_if_blog}
    %a{href: "#"} Blog
%li{class: active_if_contact}
  %a{href: "/contact"} Contáctanos
