- content_for :page_title do
  ubiqua | Sobre Nosotros
-content_for :description do
  Con la colaboracion de cuatro amigos, ubiqua fue concevido como una alternativa a los precios elevados y la pobre calidad de software empresarial existente
-content_for :keywords do
  Programadores Panama, web programador, java , android, agiliza la fuerza de ventas, programa para celulares, programadores de soluciones tecnologicas, desarrollo de software panama


- content_for :navbar_btns do
  = render partial: "pages/navbar_btns", locals: { active_if_home: "", active_if_product: "", active_if_blog: "", active_if_contact: "" }
-content_for :subintro do
  %section#subintro.about-us
    .container
      %section.call-to-action
        %span.main-message.animated.bounceInDown
          %strong Conoce
          a nuestro equipo de trabajo
.container
  .row
  /
    .span12
      %h2 Sobre Nosotros
      %h3 ubiqua
      %p
        Lorem ipsum dolor sit amet, per cu graece fierent dignissim, et reque dicat blandit quo, ad mel stet aperiri insolens. Eum esse ancillae conclusionemque at. Ut nec ullum homero. Autem legimus in sed. Ad eam iudico delectus, aperiri maiestatis eos eu. Mea viris abhorreant at, eirmod vivendo an ius.
      %p
        Cu nec iudicabit percipitur, eu sit possim viderer malorum. In homero audiam aperiri eos, ea noster virtute usu, vim id inimicus philosophia. Id propriae percipit consulatu nam, in verear sensibus deseruisse has. Magna moderatius ei eum, at eum tractatos contentiones. Noster electram at his, partem repudiandae contentiones ea eam. Nemore forensibus delicatissimi eu his. Est salutandi imperdiet te, sale magna commune ex pri. Diam alia sanctus ei nam, ut vel pertinax delicata, facilis invenire sea ex. Pro eu sale prompta, congue inermis mea ei.
      %p
        Ei eam diam quando sapientem, ad pri enim vero eleifend. Eu everti inimicus his, te his nisl vocent. At rebum omnium blandit duo, malis scriptorem vis te. Altera mandamus eam ei, ex usu odio mutat debitis. At quo laudem iuvaret albucius, magna mundi honestatis pri ut, eos ei suas feugait. Vim tation dicant ornatus in.
  .row.team
    .span12
      %h3 El Equipo
      .row
        .span6
          %img.team-member-pic{height: "200px", src: "/assets/jorge.jpg", width: "200px"}
          .team-member-info
            %h4 Jorge L. García
            %p
              Ingeniero en Ciencias de Sistemas enfocado en sistemas económicos y financieros de University of Pennsylvania. Jorge además hizo una especialización en Matemáticas y Economía.
            .widget
              %ul.social-links
                %li
                  %a{href: "https://www.facebook.com/jgarciach", title: "Facebook"}
                    %i.icon-rounded.icon-32.icon-facebook.social-media
                %li
                  %a{href: "https://twitter.com/jgarciachap", title: "Twitter"}
                    %i.icon-twitter.icon-rounded.icon-32.social-media
                %li
                  %a{href: "http://www.linkedin.com/pub/jorge-luis-garcia-chapman/17/877/94", title: "LinkedIn"}
                    %i.icon-linkedin.icon-rounded.icon-32.social-media
                %li
                  %a{href: "https://github.com/jgarciach", title: "Github"}
                    %i.icon-rounded.icon-32.icon-github-alt.social-media
        .span6
          %img.team-member-pic{height: "200px", src: "/assets/gaby.png", width: "200px"}/
          .team-member-info
            %h4 Gabriela Hurtado
            %p
              Licenciada en Finanzas y Mercadeo de McIntire School of Commerce parte de University of Virginia. Gabriela también hizo una especialización en Relaciones Internacionales.
            .widget
              %ul.social-links
                %li
                  %a{href: "https://www.facebook.com/gabriela.hurtado7", title: "Facebook"}
                    %i.icon-rounded.icon-32.icon-facebook.social-media
                %li
                  %a{href: "https://twitter.com/GabyHurtado7", title: "Twitter"}
                    %i.icon-twitter.icon-rounded.icon-32.social-media
                %li
                  %a{href: "http://www.linkedin.com/pub/gabriela-hurtado/33/ba4/a28/en", title: "LinkedIn"}
                    %i.icon-linkedin.icon-rounded.icon-32.social-media
                %li
                  %a{href: "https://github.com/gabrielah", title: "Github"}
                    %i.icon-rounded.icon-32.icon-github-alt.social-media
      .row
        .span6
          %img.team-member-pic{height: "200px", src: "/assets/diego.png", width: "200px"}/
          .team-member-info
            %h4 Diego Molino
            %p
              Ingeniero Industrial enfocado en operaciones de Stanford University. Además, Diego hizo una especialización en Ciencias Computacionales.
            .widget
              %ul.social-links
                %li
                  %a{href: "https://www.facebook.com/diego.molino", title: "Facebook"}
                    %i.icon-rounded.icon-32.icon-facebook.social-media
                %li
                  %a{href: "https://twitter.com/dmolino17", title: "Twitter"}
                    %i.icon-twitter.icon-rounded.icon-32.social-media
                %li
                  %a{href: "http://www.linkedin.com/pub/diego-molino/32/b46/b42", title: "LinkedIn"}
                    %i.icon-linkedin.icon-rounded.icon-32.social-media
                %li
                  %a{href: "https://github.com/dmolino", title: "Github"}
                    %i.icon-rounded.icon-32.icon-github-alt.social-media
        .span6
          %img.team-member-pic{height: "200px", src: "/assets/jose.jpeg", width: "200px"}/
          .team-member-info
            %h4 José R. Varela
            %p
              Licenciado en Negocios y Relaciones Internacionales de Huntsman Program del Wharton School en University of Pennsylvania. Además hizo una especialización en Ciencias Computacionales.
            .widget
              %ul.social-links
                %li
                  %a{href: "https://www.facebook.com/joservarelaf", title: "Facebook"}
                    %i.icon-rounded.icon-32.icon-facebook.social-media
                %li
                  %a{href: "https://twitter.com/jose_r_varela", title: "Twitter"}
                    %i.icon-twitter.icon-rounded.icon-32.social-media
                %li
                  %a{href: "http://www.linkedin.com/pub/jose-varela/13/458/9a3", title: "LinkedIn"}
                    %i.icon-linkedin.icon-rounded.icon-32.social-media
                %li
                  %a{href: "https://github.com/cabe56", title: "Github"}
                    %i.icon-rounded.icon-32.icon-github-alt.social-media
      .row
        .span6
          %img.team-member-pic{height: "200px", src: "/assets/alberto.jpg", width: "200px"}
          .team-member-info
            %h4.intern-name Alberto Picard-Ami
            %div.position
              Pasante
            %p
              Estudiante de Ingeniería Industrial enfocado en operaciones de University of Toronto. Además, Alberto hizo una especialización en negocios.
            .widget
              %ul.social-links
                %li
                  %a{href: "https://www.facebook.com/alberto.picardami?ref=tn_tnmn", title: "Facebook"}
                    %i.icon-rounded.icon-32.icon-facebook.social-media
                %li
                  %a{href: "https://twitter.com/apicardami", title: "Twitter"}
                    %i.icon-twitter.icon-rounded.icon-32.social-media
                %li
                  %a{href: "http://ca.linkedin.com/in/albertopicardami/", title: "LinkedIn"}
                    %i.icon-linkedin.icon-rounded.icon-32.social-media
        .span6
          %img.team-member-pic{height: "200px", src: "/assets/maurizio.jpeg", width: "200px"}/
          .team-member-info
            %h4.intern-name Maurizio Caló
            %div.position
              Pasante
            %p
              Ingeniero en Ciencias Computacionales de Stanford University, enfocado en Inteligencia Artificial. Realizó investigaciones en aprendizaje automático de computadoras e hizo una especialización en la interacción persona-computador.
            .widget
              %ul.social-links
                %li
                  %a{href: "http://www.facebook.com/mauriziocalo", title: "Facebook"}
                    %i.icon-rounded.icon-32.icon-facebook.social-media
                %li
                  %a{href: "https://twitter.com/mauriziocalo", title: "Twitter"}
                    %i.icon-twitter.icon-rounded.icon-32.social-media
                %li
                  %a{href: "http://www.linkedin.com/in/mauriziocgithub.com/mauriziocalo", title: "LinkedIn"}
                    %i.icon-linkedin.icon-rounded.icon-32.social-media
                %li
                  %a{href: "https://github.com/gabrielah", title: "Github"}
                    %i.icon-rounded.icon-32.icon-github-alt.social-media
      .row
        .span6
          %img.team-member-pic{height: "200px", src: "/assets/sabi.jpeg", width: "200px"}/
          .team-member-info
            %h4.intern-name Maria Isabel Vega
            %div.position
              Pasante
            %p
              Estudiante de tercer año de Ingeniería en Ciencias Computacionales en Stanford University, enfocada en el estudio de la interacción persona-computador.
            .widget
              %ul.social-links
                %li
                  %a{href: "https://www.facebook.com/mariaisabel.vega.m", title: "Facebook"}
                    %i.icon-rounded.icon-32.icon-facebook.social-media
                %li
                  %a{href: "http://www.linkedin.com/profile/view?id=100202851&locale=en_US&trk=tyah", title: "LinkedIn"}
                    %i.icon-linkedin.icon-rounded.icon-32.social-media
        .span6
          %img.team-member-pic{height: "200px", src: "/assets/jaime.jpeg", width: "200px"}/
          .team-member-info
            %h4.intern-name Jaime Sánchez
            %div.position
              Pasante
            %p
              Estudiante de segundo año en Ingeniería Mecánica en Tufts University. Además,  está haciendo una especialización en Liderazgo Empresarial. 
            .widget
              %ul.social-links
                %li
                  %a{href: "https://www.facebook.com/jaime25", title: "Facebook"}
                    %i.icon-rounded.icon-32.icon-facebook.social-media
                %li
                  %a{href: "http://www.linkedin.com/profile/view?id=99311308", title: "LinkedIn"}
                    %i.icon-linkedin.icon-rounded.icon-32.social-media
      .row
        .span6
          %img.team-member-pic{height: "200px", src: "/assets/ivan.jpeg", width: "200px"}
          .team-member-info
            %h4.intern-name Iván Barria
            %div.position
              Pasante
            %p
              Licenciado en Ciencias Computacionales de Villanova University. Iván se especializa en seguridad informática, sistemas, y construcción de software. Además, apoya el uso de tecnología open-source.
            .widget
              %ul.social-links
                %li
                  %a{href: "https://www.facebook.com/ibarria507", title: "Facebook"}
                    %i.icon-rounded.icon-32.icon-facebook.social-media
                %li
                  %a{href: "http://www.linkedin.com/profile/view?id=136428634", title: "LinkedIn"}
                    %i.icon-linkedin.icon-rounded.icon-32.social-media
                %li
                  %a{href: "https://github.com/Baconator507", title: "Github"}
                    %i.icon-rounded.icon-32.icon-github-alt.social-media
        .span6
          %img.team-member-pic{height: "200px", src: "/assets/marielos.png", width: "200px"}/
          .team-member-info
            %h4.intern-name Marielos Sanson
            %div.position
              Pasante
            %p
              Estudiante de tercer año de Ingeniería Industrial en Stanford University con enfoque en operaciones.
            .widget
              %ul.social-links
                %li
                  %a{href: "https://www.facebook.com/marielos.sanson", title: "Facebook"}
                    %i.icon-rounded.icon-32.icon-facebook.social-media
