- content_for :page_title do
  ubiqua | Acertijo: bolas
-content_for :description do
  ubiqua es una compañia que desarrolla software empresarial en panama. Ofrecemos una applicacion que administra la fuerza de ventas de empresas.
- content_for :navbar_btns do
  = render partial: "pages/navbar_btns", locals: { active_if_home: "", active_if_product: "", active_if_blog: "", active_if_contact: "" }
-content_for :subintro do
  %section#subintro.brainteaser.balls
    .container
      %section.title-area
        %span.main-message.animated.bounceInDown
          Acertijo
        %br
        %span.sub-message.animated.bounceInUp
          bolas en la balanza

.container
  .row
    .span12
      %p.lead
        %i.fa.fa-quote-left
        Hay nueve bolas del mismo tamaño, ocho pesan lo mismo y una pesa un poquito más. ¿Cómo sabes cual es la más pesada, si solo puedes pesarlas usando una balanza y solo puedes usar la balanza dos veces?
        %i.fa.fa-quote-right
      %a#show-ans.btn.btn-default.btn-small{href: "#"} ver respuesta
      .well.answer{style: "display: none;"}
        %strong Respuesta:
        %p
          Divides las nueve bolas en tres grupos de tres. Pesas dos de los grupos. Si son iguales, escoges el que no pesaste, si no, escoges el grupo más pesado. Luego, escoges dos bolas de ese grupo y las pesas. Si una es más pesada, esa es la bola que buscas. Si las dos pesan lo mismo, la bola que buscas es la que no pesaste de ese grupo.
