- content_for :page_title do
  ubiqua | Acertijo: burro
-content_for :description do
  ubiqua es una compañia que desarrolla software empresarial en panama. Ofrecemos una applicacion que administra la fuerza de ventas de empresas.
-content_for :keywords do
  innovación empresarial, administración de ventas, software contable, software empresarial, soluciones en software, Panama,  fuerza de ventas, mejora tu servicio al cliente, desarollo de software

- content_for :navbar_btns do
  = render partial: "pages/navbar_btns", locals: { active_if_home: "", active_if_product: "", active_if_blog: "", active_if_contact: "" }
-content_for :subintro do
  %section#subintro.brainteaser.donkey
    .container
      %section.call-to-action
        %span.main-message.animated.bounceInDown.bt-title
          Acertijo
        %br
        %span.sub-message.animated.bounceInUp.bt-title
          el viaje del burro 

.container
  .row
    .span12
      %p.lead
        %i.icon-quote-left
        Un burro viaja exactamente la misma distancia diariamente. Dos de sus patas han viajado 40 km y las otras dos 41km. El burro es completamente normal (no hay 1 km entre sus patas). ¿Cómo es esto posible?
        %i.icon-quote-right
      %a#show-ans.btn.btn-default.btn-small{href: "#"} ver respuesta
      .well.answer{style: "display: none;"}
        %strong Respuesta:
        %p
          El burro el trayecto que recorre el burro es un círculo por lo tanto las patas de en la parte de afuera del círculo caminan más distancia que las patas  en la parte de adentro del círculo.
