- content_for :page_title do
  ubiqua | Acertijo: carrera
-content_for :description do
  ubiqua es una compañia que desarrolla software empresarial en panama. Ofrecemos una applicacion que administra la fuerza de ventas de empresas.
-content_for :keywords do
  Software de ventas, catalogo en la nube, herramienta de ventas, Panama, base de datos nube, sap, facturacion, cotizaciones, erp, sistemas a la medida, tiempo real, software contable,

- content_for :navbar_btns do
  = render partial: "pages/navbar_btns", locals: { active_if_home: "", active_if_product: "", active_if_blog: "", active_if_contact: "" }
-content_for :subintro do
  %section#subintro.brainteaser.camels
    .container
      %section.title-area
        %span.main-message.animated.bounceInDown
          Acertijo
        %br
        %span.sub-message.animated.bounceInUp
          carrera de camellos

.container
  .row
    .span12
      %p.lead
        %i.fa.fa-quote-left
        Un padre le dice a sus dos hijos que, para decidir quien va a heredar su fortuna, deben competir en una carrera en sus camellos. El camello que llegue de último a Estambul, gana. Los hijos, confundidos, le piden consejos a un hombre sabio. Después de escucharlo, los hijos se van en los camellos hacia Estambul lo más rápido que pueden. ¿Qué les dijo el hombre sabio?
        %i.fa.fa-quote-right
      %a#show-ans.btn.btn-default.btn-small{href: "#"} ver respuesta
      .well.answer{style: "display: none;"}
        %strong Respuesta:
        %p
          El hombre sabio le dice a los hermanos que intercambien camellos.
