- content_for :navbar_btns do
  = render partial: "pages/navbar_btns", locals: { active_if_home: "", active_if_product: "", active_if_blog: "", active_if_contact: "" }
-content_for :subintro do
  %section#subintro.brainteaser.error404
    .container
      %section.call-to-action
        %span.main-message.animated.bounceInDown
          OU MAI GAT!
        %br
        %span.sub-message.animated.bounceInUp
          error 404: Lo sentimos pero no encontramos la pagina que pediste.

