- content_for :page_title do
  ubiqua | Acertijo: granjero
-content_for :description do
  ubiqua es una compañia que desarrolla software empresarial en panama. Ofrecemos una applicacion que administra la fuerza de ventas de empresas.
-content_for :keywords do
  innovación empresarial, administración de ventas, software contable, software empresarial, soluciones en software, Panama,  fuerza de ventas, mejora tu servicio al cliente, desarollo de software

- content_for :navbar_btns do
  = render partial: "pages/navbar_btns", locals: { active_if_home: "", active_if_product: "", active_if_blog: "", active_if_contact: "" }
-content_for :subintro do
  %section#subintro.brainteaser.farmer
    .container
      %section.title-area
        %span.main-message.animated.bounceInDown
          Acertijo
        %br
        %span.sub-message.animated.bounceInUp
          el granjero y la cerca

.container
  .row
    .span12
      %p.lead
        %i.icon-quote-left
        Un granjero reta a un ingeniero, un físico y a un matemático a cercar el área más grande usando la menor cantidad de cerca. El ingeniero hace su cerca en forma de círculo y dice que esto es lo más eficiente. El físico hace una línea larga y dice que su longitud es infinita y dice que esta es la mejor opción porque parte a la Tierra en la mitad. El matemático se ríe de los otros y con su diseño derrota a los otros. ¿Qué hizo el matemático?
        %i.icon-quote-right
      %a#show-ans.btn.btn-default.btn-small{href: "#"} ver respuesta
      .well.answer{style: "display: none;"}
        %strong Respuesta:
        %p
          El matemático hizo una cerca alrededor de él mismo y dijo que él estaba afuera del área cercada. 
