- content_for :navbar_btns do
  = render partial: "pages/navbar_btns", locals: { active_if_home: "active", active_if_aboutus: "", active_if_blog: "", active_if_contact: "" }
-content_for :subintro do
  %section#subintro.landingpage
    .container
      %section.call-to-action
        %span.main-message.animated.bounceInDown
          %strong ubiqua 
          AVE
        %br
        %span.sub-message.animated.bounceInUp 
          %strong Conecta
          y
          %strong Administra
          tu fuerza de ventas

.container
  .row.services
    .bullet.span4
      %i.bulletIcon.icon-picture
      %h4 Catálogo digital de productos 
      %p.moreInfo 
        Informa mejor a tus clientes brindándole a tu vendedor una aplicación móvil con catálogo digital de todos tus productos.
        %a mira más información
    .bullet.span4 
      %i.bulletIcon.icon-bar-chart
      %h4 Análisis de resultados de ventas
      %p.moreInfo 
        Mejora tu Business Intelligence entrando a resumen detallado de ventas por vendedor, cliente y/o producto en tiempo real.
        %a mira más información
    .bullet.span4
      %i.bulletIcon.icon-tablet
      %h4 Envío de órdenes de compra
      %p.moreInfo 
        Disminuye error humano en pedidos enviándolos directamente desde la aplicación móvil al sistema central de tu empresa.
        %a mira más información
  .rec.well
    %h3 Danos tu email si te interesa recibir más información sobre nuestros servicios:
    %form.form-inline
      %input#form-email.landingpage{name: "email", placeholder: "Email", type: "email"}/
      .btn-large.btn-color.landingpage Enviar
  .thanks.well
    %h3 Gracias, pronto te estaremos contactando!
