-content_for :navbar_btns do
  = render partial: "pages/navbar_btns", locals: { active_if_home: "", active_if_aboutus: "", active_if_blog: "", active_if_contact: "", active_if_product: "active" }
-content_for :subintro do
  %section#subintro.orders.mainMessage
    .container
      %section.orders-cta.mobile-cta
        %span.main-message
          Envío electrónico de pedidos y cotizaciones
        %br
        %span.display-none
          Aumenta tus ventas acelerando tu proceso de ventas
        %br
  .scroll-button-area
    #button.btn.center-element.btn-inverse.scroll-button
      %i.icon-chevron-down 
.container
  .margin-section
    %h3.center-title Maximiza el tiempo de tus empleados eliminando órdenes a papel
    %h4.subheading-feature Desde el catálogo, selecciona los productos desea el cliente  y envía un resumen del pedido directamente al sistema de facturación
    .row-fluid.margin-features
      .span5.moreInfo.product-feature
        %h4 Disminuye errores en pedidos 
        %p Con acceso remoto del inventario actualizado de los productos, evita que tus vendedores hagan pedidos con productos que no hay en inventario o vendan productos descontinuados.
      .span7
        %img.image-product.center-element{src:"/assets/inventory.png", alt:""}   
    .row-fluid.margin-features   
      .span7.second-image
        %img.image-product.center-element{src:"/assets/quote.png", alt:""}   
      .span5.moreInfo.product-feature.second-feature
        %h4 Envía cotizaciones a clientes nuevos o actuales
        %p Crece y fortalece tu cartera de clientes permitiendo que tus vendedores envíen cotizaciones en un formato estándar rápidamente desde su dispositivo móvil.
          
    .row-fluid.margin-features   
      .span5.moreInfo.short-feature
        %h4 Facilita el uso de la aplicación para tus vendedores
        %p 
          Acompaña a tus vendedores durante todo el proceso de ventas con un sistema de alertas que les confirma cada vez que cumplen un paso del proceso de ventas sin interrumpir su labor.
      .span7
        %img.image-product.center-element{src:"/assets/confirmation.png", alt:""}            
%section    
  <!-- Begin MailChimp Signup Form -->
  / Begin MailChimp Signup Form
  %link{href: "//cdn-images.mailchimp.com/embedcode/slim-081711.css", rel: "stylesheet", type: "text/css"}/
  #mc_embed_signuprec.rec.well.email-send
    %h3.center-title Danos tu email para enterarte de nuestros servicios
    %form#mc-embedded-subscribe-form.form-inline.validate{action: "http://ubiqua.us7.list-manage2.com/subscribe/post?u=be8c1d6972b3c867f748e3855&id=fe2f59c521", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
      %input#mce-EMAIL#form-email.landingpage{name: "EMAIL", placeholder: "correo electrónico", required: "", type: "email", value: ""}/
      %input#mc-embedded-subscribe.btn.btn-large.btn-color.landingpage.send-btn{name: "subscribe", type: "submit", value: "Enviar"}/
/ End mc_embed_signup
.thanks.well
  %h3 Gracias, pronto te estaremos contactando!


