- content_for :navbar_btns do
  = render partial: "pages/navbar_btns", locals: { active_if_home: "", active_if_aboutus: "", active_if_blog: "", active_if_contact: "" }
-content_for :subintro do
  %section#subintro.brainteaser.hourglass
    .container
      %section.call-to-action
        %span.main-message.animated.bounceInDown
          Acertijo
        %br
        %span.sub-message.animated.bounceInUp
          relojes de arena

.container
  .row
    .span12
      %p.lead
        %i.icon-quote-left
        Tienes dos relojes de arena. Uno de 7 minutos y otro de 4 minutos. ¿Cómo puedes calcular 9 minutos?
        %i.icon-quote-right
      %a#show-ans.btn.btn-default.btn-small{href: "#"} ver respuesta
      .well.answer{style: "display: none;"}
        %strong Respusta:
        %p
          Comienza los dos relojes de arena al mismo tiempo. Cuando se acabe el de 4 minutos, le das vuelta. Cuando se acabe el de 7 minutos, le das vuelta. Luego de 1 minuto, se acabará el de 4 minutos (habrán pasado 8 minutos totales), y el de 7 minutos habrá corrido por 1 minuto. Dale vuelta al de 7 para contar 1 minuto, y habrán pasado 9 minutos totales.
