- content_for :page_title do
  ubiqua | Trisfera Conf
-content_for :description do
  ubiqua es una compañia que desarrolla software empresarial en panama. Ofrecemos una applicacion que administra la fuerza de ventas de empresas.
-content_for :keywords do
  innovación empresarial, administración de ventas, software contable, software empresarial, soluciones en software, Panama,  fuerza de ventas, mejora tu servicio al cliente, desarollo de software

- content_for :navbar_btns do
  = render partial: "pages/navbar_btns", locals: { active_if_home: "", active_if_product: "", active_if_blog: "", active_if_contact: "" }
-content_for :subintro do
  %section#subintro.trisfera
    .container
      %section.call-to-action

.container
  .row
    .span6
      %h2 Recursos
      %ul.recursos.trisfera
        %li
          %a{href: "http://bases.stanford.edu/" }
            BASES
        %li
          %a{href: "http://dschool.stanford.edu/"} 
            D.School
        %li
          %a{href: "http://www.smartplanet.com/blog/pure-genius/q-a-david-kelley-design-innovator-stanford-8216dschool-founder/8436"}
            Historia del Stanford D.School
        %li
          %a{href: "http://paulgraham.com/ideas.html"}
            Paul Graham - Ideas
        %li
          %a{href: "http://whartoniteseekscodemonkey.tumblr.com/"}
            Code Monkeys - Blog
        %li
          %a{href: "https://docs.google.com/file/d/17xJJzf2W1BrssXTB4odk25tXedtGTzHOdi0cgA4kP9wNwmpW3fGR0l3Fvjo1/edit"}
            Manual de la metodologia del D.School
        %li
          %a{href: "http://en.wikipedia.org/wiki/Paper_prototyping" }
            Prototipos en papel
        %li
          %a{href: "http://en.wikipedia.org/wiki/Moore's_law"}
            La ley de Moore
        %li
          %a{href: "https://www.youtube.com/watch?v=Uc984HXIM44&list=PLD3563AEBFB3E2332"}
            "Pensando como un viajero" - Tom Kelley
        %li
          %a{href: "http://www.steveblank.com"}
            Steve Balnk - Guru de Desarrollo de Clientes
        %li
          %a{href: "http://blakemasters.com/peter-thiels-cs183-startup"}
            Consejos de Peter Thiel sobre Startups
        %li
          %a{href: "http://www.ubiquame.blogspot.com/2013/07/diseno-y-desarrollo-de-productos.html"}
            Blog de Product Development
    .span6
      %h2 Presentacion
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "421", :marginheight => "0", :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no", :src => "http://www.slideshare.net/slideshow/embed_code/25093858?rel=0", :style => "max-width:512px;border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", :webkitallowfullscreen => "", :width => "100%"}
      %div{:style => "margin-bottom:5px"}
        %strong
          %a{:href => "http://www.slideshare.net/dmolino/trisfera-conf2013-ubiqua", :target => "_blank", :title => "Trisfera conf2013 ubiqua"} Trisfera conf2013 ubiqua
          from
          %strong
            %a{:href => "http://www.slideshare.net/dmolino", :target => "_blank"} dmolino
  .rec.well.email-send
    %h3 Danos tu email si te interesa recibir más información:
    = form_tag(leads_path, class: "form-inline", remote: true) do
      = email_field_tag "email", nil, id: "form-email", class: "landingpage", placeholder: "Email"
      = submit_tag "Enviar", class: "btn btn-large btn-color landingpage send-btn"
  .thanks.well
    %h3 Gracias, pronto te estaremos contactando!
